.width{
    width: 30%;
}

.center{
    margin: auto;
}

.badge-align{
    align-self: right;
}

.card-width{
    width: 100%;
}

.align-right{
    float: right;
}

.align-left{
    float: left;
}

.paddding{
    margin-right: 0.1%;
    margin-bottom: 0.1%;
}
.vote-btn{
    float: inline-start;
    padding: auto;
}
