
<nav class="navbar-fixed sticky-nav navbar waves-effect waves-dark">
  <div class="nav-wrapper">

    <form *ngIf="user.userName" class="brand-logo center">
      <div class="input-field purple lighten-1">
        <input id="search" type="search" (keydown.enter)="search($event)">
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>

    <ul *ngIf="user.userName">
      <div class="right">
          <button (click)="onUser()" mat-icon-button >
            <mat-icon>account_circle</mat-icon>
          </button>
        <span (click)="onLogout()"><b>LogOut</b></span>
      </div>
    </ul>
    <ul class="brand-logo left">
      <li>
        <b routerLink="/home">{{title}}</b>
      </li>
    </ul>
  </div>
</nav>

<!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>