.navbar{
    color: white;
    background-color: #9C27B0;
}

.right{
    margin-right: 1%;
}

.left{
    padding-left: 0.5%;
}

.center{
    width: 35%;   
}

.sticky-nav {
    position: fixed;
    top: 0;
    width: 100%;
}

