<mat-card class="img">
    <div>
        <mat-card class="center">
            <h4>Register</h4>
            <div>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div>
                        <input type="email" formControlName="email" placeholder="Email"/>
                        <div *ngIf="submitted && f['email'].errors">
                            <div *ngIf="f['email'].errors['required']">Email is required</div>
                        </div>
                    </div>

                    <div>
                        <input type="text" formControlName="username" placeholder="Username"/>
                        <div *ngIf="submitted && f['username'].errors">
                            <div *ngIf="f['username'].errors['required']">Username is required</div>
                        </div>
                    </div>
                    <div>
                        <input type="password" formControlName="password"  placeholder="Password"/>
                        <div *ngIf="submitted && f['password'].errors">
                            <div *ngIf="f['password'].errors['required']">Password is required</div>
                        </div>
                    </div>
                    <div>
                        <button mat-button [disabled]="loading">
                            Create account
                        </button>
                    </div>
                </form>
            </div>
        </mat-card>
    </div>
</mat-card>